<extend name="./Application/Admin/View/layout.html" />

<block name="content">
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            账单报表
            <small>投注记录</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>管理界面</a></li>
            <li class="active">账单报表</li>
            <li class="active">投注记录</li>
        </ol>
    </section>

    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">投注记录</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <form action="{:U('BetReport/Index')}" method="get">
                                <div class="col-sm-6">
                                    <div id="example1_filter" class="dataTables_filter">
                                        <label>搜索日期:
                                        <input class="Wdate form-control input-sm"  name="stime" type="text" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd HH:mm:ss'})" value="{$stime}">
                                        </label>
                                        <label>--</label>
                                        <label>
                                        <input class="Wdate form-control input-sm" name="etime" type="text" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd HH:mm:ss'})" value="{$etime}">
                                        </label>
                                        <if condition="session('AgentId') eq 1">
                                            <label>搜索代理:<input id="agentname" name="agentname" type="search" class="form-control input-sm" aria-controls="example1" value="{$proxy_name}" placeholder="请输入代理账号"></label>
                                        <else />
                                            <label>搜索会员:<input id="agentname" name="agentname" type="search" class="form-control input-sm" aria-controls="example1" value="{$proxy_name}" placeholder="请输入会员账号"></label>
                                        </if>

                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div id="example1_filter" class="dataTables_filter">
                                        <button id="search" type="submit" class="btn btn-block btn-info" style="width:70px;">搜索</button>   
                                    </div>
                                </div>           
                            </form>
                                <div class="col-sm-1">
                                    <div id="example1_filter" class="dataTables_filter">
                                        <button onclick="window.location.reload()" class="btn btn-success"><i class="fa fa-repeat"></i>刷新数据</button>  
                                    </div>
                                </div>
                        </div>
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>会员账号</th>
                                    <th>所属代理</th>
                                    <th>投注期号</th>
                                    <th>投注类型</th>
                                    <th>投注号码</th>
                                    <th>号码赔率</th>
                                    <th>投注金额</th>
                                    <th>结果输赢</th>
                                    <th>投注时间</th>
                                </tr>
                            </thead>
                            <tbody>
                            <volist name="t_betlist" id="list" key="id">
                                <tr>
                                	<td>{$id}</td>
                                	<td>{$list.username}</td>
                                	<td>{$list.agentname}</td>
                                	<td>{$list.issue}</td>
                                	<td>{$list.bettype}</td>
                                	<td>{$list.betnumber}</td>
                                	<td>{$list.betodds}</td>
                                	<td>{$list.betmoney}</td>
                                	<td>{$list.profit}</td>
                                	<td>{$list.bettime|date="Y-m-d H:i:s",###}</td>
                                </tr>
                            </volist>
                            <if condition="$t_betinfo neq null">
                                <tr>
                                    <td colspan="7">总计: </td>
                                    <td>总投注额: {$t_betinfo.sum_bet_money}</td>
                                    <td>总输赢:{$t_betinfo.sumprofit}</td>
                                    <td>抽水金额: {$t_betinfo.sfs}</td>
                                </tr>
                            <else />
                            </if>
                            </tbody>

                        </table>
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                                    总共有 {$count} 条数据
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                </div>
                                <ul class="pagination">
                                    {$page}
                                </ul>
                            </div>
                        </div>                  
                    </div>
                </div>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
    </section><!-- /.content -->

</div>
</block>


<block name="script">
<script language="javascript" type="text/javascript" src="__PUBLIC__/My97DatePicker/WdatePicker.js"></script>
</block>