<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
	<meta name="application-name" content="香港馬會獎券有限公司"> 
	<title>香港馬會獎券有限公司 - 六合時時彩</title> 
	<link rel="SHORTCUT ICON" href="__PUBLIC__/assets/img/favicon.ico"> 
	<link type="text/css" href="__PUBLIC__/assets/css/style2.css" rel="stylesheet"> 
	<link href="__PUBLIC__/assets/css/style3.css" rel="stylesheet" type="text/css"> 
	<link href="__PUBLIC__/assets/css/marksix.css" rel="stylesheet" type="text/css"> 
	<link href="__PUBLIC__/assets/css/menu_styles.css" rel="stylesheet" type="text/css"> 
	<script src="__PUBLIC__/assets/js/jquery.min.js"></script>
	<script src="__PUBLIC__/assets/js/index2.js"></script>
	<script src="__PUBLIC__/assets/js/mm_common.js"></script>
	<style type="text/css">
	    /* css yahoo 样式分页案例css代码 */ 
	    a{text-decoration:none;} 
	    div.yahoo { 
	    padding-right: 3px; padding-left: 3px; padding-bottom: 3px;
	     margin: 3px; padding-top: 3px; text-align: center 
	    } 
	    a{text-decoration: none;}
	    div.yahoo a { 
	    border-right: #fff 1px solid; padding-right: 5px;
	     border-top: #fff 1px solid; padding-left: 5px; padding-bottom: 2px;
	     margin: 2px; border-left: #fff 1px solid; color: #000099;
	     padding-top: 2px; border-bottom: #fff 1px solid; text-decoration: none;border: 1px solid #ccc; 
	    } 
	    div.yahoo a:hover { 
	    border-right: #000099 1px solid; border-top: #000099 1px solid; 
	    border-left: #000099 1px solid; color: #000; border-bottom: #000099 1px solid 
	    } 
	    div.yahoo a:active { 
	    border-right: #000099 1px solid; border-top: #000099 1px solid;
	     border-left: #000099 1px solid; color: #f00; border-bottom: #000099 1px solid 
	    } 
	    .current { 
	    border-right: #fff 1px solid; padding-right: 5px;
	     border-top: #fff 1px solid; padding-left: 5px; font-weight: bold;
	     padding-bottom: 2px; margin: 2px; border-left: #fff 1px solid;
	     color: #000; padding-top: 2px; border-bottom: #fff 1px solid;border:none!important;
	     background-color: #fff 
	    } 
	    div.yahoo span.disabled { 
	    border-right: #eee 1px solid; padding-right: 5px; 
	    border-top: #eee 1px solid; padding-left: 5px; padding-bottom: 2px;border:none;
	     margin: 2px; border-left: #eee 1px solid; color: #ddd; 
	    padding-top: 2px; border-bottom: #eee 1px solid 
	    } 
  	</style>
</head>
<body topmargin="0" leftmargin="0" style="background: rgb(0, 59, 127)">
  <div id="topNav" style="z-index: 5; position: absolute;left: 50%;margin-left: -140px; top: 30px;">
	   <div id="">
	    <table width="530" cellpadding="0" cellspacing="0" border="0">
	     <tbody>
	      <tr>
	       <td>
	        <table width="100%" cellpadding="0" cellspacing="0" border="0">
	         <tbody>
	          <tr>
	           <td width="25%" style="padding: 0px 0px 4px 0px;; cursor:pointer;" nowrap="" class="menu_nav">
	            <a href="https://wcip02.hkjc.com/associateaccount.aspx?&amp;UIC=zh-HK&amp;EP=CORP" target="_blank" style="width:100%;">
	            <div style="text-align: center; padding-top: 5px; color: rgb(153, 153, 153);" id="navColor_0">
	             登記/ 申請事項
	            </div></a></td>
	           <td width="2" rowspan="2" style="padding-bottom:3px;"><img src="__PUBLIC__/assets/img/stroke.gif"></td>
	           <td width="25%" style="padding: 0px 0px 4px 0px;; cursor:pointer;" nowrap="" class="menu_nav">
	            <a target="_blank" href="http://common.hkjc.com/utility/faq/chinese/betting/ewin-1.aspx" style="width:100%;">         
	            <div style="text-align: center; padding-top: 5px; color: rgb(153, 153, 153);" id="navColor_1">
	             投注途徑
	            </div></a></td>
	           <td width="2" rowspan="2" style="padding-bottom:3px;"><img src="__PUBLIC__/assets/img/stroke.gif"></td>
	           <td width="25%" style="padding: 0px 0px 4px 0px;; cursor:pointer;" nowrap="" class="menu_nav">
	            <a href="http://common.hkjc.com/utility/faq/chinese/betting/betting-info.aspx" target="_blank" style="width:100%;">        
	            <div style="text-align: center; padding-top: 5px; color: rgb(153, 153, 153);" id="navColor_2">
	             投注資料
	            </div></a></td>
	           <td width="2" rowspan="2" style="padding-bottom:3px;"><img src="__PUBLIC__/assets/img/stroke.gif"></td>
	           <td width="25%" style="padding: 0px 0px 4px 0px;; cursor:pointer;" nowrap="" class="menu_nav">
	            <a href="https://ccwebchat.hkjc.com/WebChat/HelpMenu.aspx" target="_blank" style="width:100%;">          
	            <div style="text-align: center; padding-top: 5px; color: rgb(153, 153, 153);" id="navColor_3">
	             客戶支援
	            </div></a>
	           </td>
	          </tr>
	          <tr>
	           <td><img src="__PUBLIC__/assets/img/spacer.gif" width="4" height="3"></td>
	           <td><img src="__PUBLIC__/assets/img/spacer.gif" width="4" height="3"></td>
	           <td><img src="__PUBLIC__/assets/img/spacer.gif" width="4" height="3"></td>
	           <td><img src="__PUBLIC__/assets/img/spacer.gif" width="4" height="3"></td>
	          </tr>
	         </tbody>
	        </table>
	       </td>
	      </tr>
	     </tbody>
	    </table>
	   </div>
  </div>
  
<section style="clear:both;padding:5px;"> 
	<table width="776" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto"> 
		<tbody>
		 <tr> 
		  <td> 
		   <table width="776" border="0" cellspacing="0" cellpadding="0"> 
		    <tbody> 
		     <tr>
		      <td>
		       <table width="100%" border="0" cellspacing="0" cellpadding="0"> 
		        <tbody>
		            <tr>
                    <td width="10"><img id="machineInfo" src="__PUBLIC__/assets/img/spacer(1).gif" width="10" height="10" alt="" title="89"></td>
                    <td width="52" style="padding:0 0 0 20px"><a class="topMenu"><nobr>English</nobr></a></td>
                    <td width="36" style="padding:0 0 0 15px"><a href="{:U('index')}" class="topMenu"><nobr>主 頁</nobr></a></td>
                    <td width="107"><a href="http://entertainment.hkjc.com/entertainment/chinese/index.aspx" target="_blank" onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage( 'racecourse','','__PUBLIC__/assets/img/topmenu_racecourse_over.gif',1);"><img src="__PUBLIC__/assets/img/topmenu_racecourse_off.gif" name="racecourse" height="28" border="0"></a></td>
                    <td width="1"><img src="__PUBLIC__/assets/img/topmenu_line_v.gif" width="1" height="11"></td>
                    <td width="107"><a href="http://racing.hkjc.com/racing/chinese/index.aspx" target="_blank" onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage('hr','','__PUBLIC__/assets/img/topmenu_hr_over.gif',1);"><img src="__PUBLIC__/assets/img/topmenu_hr_off.gif" name="hr" height="28" border="0"></a></td>
                    <td width="1"><img src="__PUBLIC__/assets/img/topmenu_line_v.gif" width="1" height="11"></td>
                    <td width="107"><a href="http://football.hkjc.com/football/chinese/index.aspx" target="_blank" onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage( 'fb','','__PUBLIC__/assets/img/topmenu_fb_over.gif',1);"><img src="__PUBLIC__/assets/img/topmenu_fb_off.gif" name="fb" height="28" border="0"></a></td>
                   <td width="1"><img src="__PUBLIC__/assets/img/topmenu_line_v.gif?CV=L207R3" width="1" height="11"></td>
                   <td width="107"><a href="http://member.hkjc.com/member/chinese/index.aspx" target="_blank" onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage( 'member','','__PUBLIC__/assets/img/topmenu_member_over.gif',1);"><img src="__PUBLIC__/assets/img/topmenu_member_off.gif" name="member" height="28" border="0"></a></td>
                   <td width="1"><img src="__PUBLIC__/assets/img/topmenu_line_v.gif" width="1" height="11"></td>
                   <td width="107"><a href="http://charities.hkjc.com/charities/chinese/index.aspx" target="_blank" onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage('charity','','__PUBLIC__/assets/img/topmenu_charity_over.gif',1);"><img src="__PUBLIC__/assets/img/topmenu_charity_off.gif" name="charity" height="28" border="0"></a></td>
                    <td width="1"><img src="__PUBLIC__/assets/img/topmenu_line_v.gif" width="1" height="11"></td>
                    <td width="107"><a href="http://corporate.hkjc.com/corporate/chinese/index.aspx" target="_blank" onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage( 'about','','__PUBLIC__/assets/img/topmenu_about_over.gif',1);"><img src="__PUBLIC__/assets/img/topmenu_about_off.gif" name="about" height="28" border="0"></a></td>
                    <td><img src="__PUBLIC__/assets/img/spacer(1).gif" width="1" height="1"></td>
                 </tr>
		        </tbody>
		       </table>
		      </td>
		     </tr> 
		     <tr>
		        <td width="750" style="padding: 2px 7px;" bgcolor="#ffffff">
		          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                  <tr valign="top">
                    <td width="52"><a href="{:U('index')}"><img name="marksix" width="52" height="40" title="六合彩" src="__PUBLIC__/assets/img/btn_marksix_on.png" border="0"></a></td>
                    <td width="54"><a onmouseover="Mobile_MM_swapImage('ewin','','/info/include/images/ch/btn_ewin_over.gif',1);" onmouseout="Mobile_MM_swapImgRestore();" href="http://bet.hkjc.com/index.aspx?lang=ch"><img name="ewin" width="52" height="40" title="EWin" src="__PUBLIC__/assets/img/btn_ewin_off.gif" border="0" hspace="1"></a></td>
                    <td align="right"><span class="date" id="server_datetime">{$serverdatetime}</span></td>
                  </tr>
                  <tr>
                    <td bgcolor="#cc2c2c" colspan="5" height="3"></td>
                  </tr>
                  </tbody>
                </table>
		        </td>
		      </tr>
		     <tr>
		      <td style="background:#fff;padding: 0px 7px">
		       <table width="100%" border="0" cellspacing="0" cellpadding="0" class="toolbarBg" height="24">
		        <tbody>
		           <tr>
		            <td>
		             <div align="center"> 
		              <a href="{:U('index')}" id="betToolsTxt_0" class="toolbarTxt">核對中獎號碼</a>
		             </div></td>
		            <td width="1"><img src="__PUBLIC__/assets/img/topmenu_line_v.gif" width="1" height="14"></td>
		            <td>
		             <div align="center"> 
		              <a href="{:U('history')}" id="betToolsTxt_1" class="toolbarTxt">過去開獎結果</a>
		             </div></td>
		            <td width="1"><img src="__PUBLIC__/assets/img/topmenu_line_v.gif" width="1" height="14"></td>
		            <td>
		             <div align="center"> 
		              <a href="{:U('banker')}" id="betToolsTxt_2" class="toolbarTxt">注項種類</a>
		             </div></td>
		            <td width="1"><img src="__PUBLIC__/assets/img/topmenu_line_v.gif" width="1" height="14"></td>
		            <td bettingmenuitem="4" tabindex="-1" style="outline: none;padding: 0px 7px">              
		             <div align="center"> 
		              <a href="{:U('rules')}" id="betToolsTxt_4" class="toolbarTxt">獎券規例</a>
		             </div></td>
		            <td width="1"><img src="__PUBLIC__/assets/img/topmenu_line_v.gif" width="1" height="14"></td>
		            <td bettingmenuitem="5" tabindex="-1" style="outline: none;" onclick="betToolsMenuClick(event);" onmousedown="betToolsMenuMouseDown(event);" onblur="betToolsMenuBlur(event);" onfocusout="betToolsMenuBlur(event);">
		             <div align="center"> 
		              <a href="{:U('info')}" id="betToolsTxt_5" class="toolbarTxt">六合時時彩簡介</a>
		             </div>
		            </td>
		           </tr>
		        </tbody>
		       </table>
		      </td>
		     </tr> 
		     <tr> 
		        <td width="764" bgcolor="#FFFFFF" style="padding: 0px 7px"> 
		         <table width="100%" border="0" cellspacing="0" cellpadding="0"> 
		          <tbody>
		           <tr valign="top"> 
		            <td style="padding: 0px 4px 0px 5px;">
		              <div id="oddsMenu">
		                <table border="0" cellspacing="0" cellpadding="0">
		                  <tbody>
		                  <tr>
		                    <td class="title" style="padding: 7px 0px 7px 3px;" colspan="3"><strong>下期攪珠</strong></td></tr>
		                  <tr valign="top">
		                    <td width="1%" class="leftNavArrow"><img width="4" height="5" src="__PUBLIC__/assets/img/arrow.gif" style="    margin-top: -0px;"></td>
		                    <td width="99%" class="leftNav"><a class="leftNav" id="leftTxtM6SELF_SELECT" target="">自選單式</a></td></tr>
		                  <tr valign="top">
		                    <td width="1%" class="leftNavArrow"><img width="4" height="5" src="__PUBLIC__/assets/img/arrow.gif" style="    margin-top: -0px;"></td>
		                    <td width="99%" class="leftNav" style="cursor: pointer;"><a class="leftNav" id="leftTxtM6SELF_MULT_SELECT" target="">自選複式</a></td></tr>
		                  <tr valign="top">
		                    <td width="1%" class="leftNavArrow"><img width="4" height="5" src="__PUBLIC__/assets/img/arrow.gif" style="    margin-top: -0px;"></td>
		                    <td width="99%" class="leftNav" style="cursor: pointer;"><a class="leftNav" id="leftTxtM6SELF_SELECT_BANKER" target="">自選膽拖</a></td></tr>
		                  <tr valign="top">
		                    <td width="1%" class="leftNavArrow"><img width="4" height="5" src="__PUBLIC__/assets/img/arrow.gif" style="    margin-top: -0px;"></td>
		                    <td width="99%" class="leftNav" style="cursor: pointer;"><a class="leftNav" id="leftTxtM6RAN_GEN" target="">運財號碼</a></td>
		                  </tr>
		                  </tbody>
		                </table>
		              </div>
		            </td>              
		            <td width="635" class="content"> 
		             <!-- Odds Content starts --> 
		             <div id="oddsTable"> 
		              <table width="100%" border="0" cellspacing="0" cellpadding="0">
		                <tbody>
		                  <tr>
		                    <td>
		                      <table width="100%" border="0" cellspacing="0" cellpadding="0" id="mainTable">
		                        <tbody>
		                        <tr>
		                          <td>
		                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
		                              <tbody>
		                              <tr>
		                                <td class="redTitle">
		                                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
		                                    <tbody>
		                                    <tr>
		                                      <td class="titleWhite" style="padding-left:6px;" nowrap="">過去開獎結果</td>
		                                      <td align="right">
		                                        <!-- '*TBC-01 (Start)*' -->
		                                        <table border="0" cellspacing="0" cellpadding="0">
		                                          <tbody><tr>
		                                          </tr>
		                                          </tbody>
		                                        </table>
		                                        <!-- '*TBC-01 (End)*' -->
		                                      </td>
		                                    </tr>
		                                    </tbody>
		                                  </table>
		                                </td>
		                              </tr>
		                              <tr>
		                                <td class="whiteBar" style="padding-right:2px">
		                                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
		                                    <tbody><tr valign="top">
		                                      <td class="content" style="padding-right:10px;">運氣，話嚟就嚟！只須鍵入一個心水號碼然後按 "加入注項"，電腦便會隨機加入五個運財號碼方便你即時購買六合時時彩！</td>
		                                    </tr>
		                                  </tbody></table>
		                                </td>
		                              </tr>
		                              <tr>
		                               <td style="padding:5px;background:#ccc;">
		                               <form>
			                               <b style="font-size:14px;">開獎期數查詢</b>:&nbsp;&nbsp;
			                               <span style="float:right;">
				                               <input type="text" name="issue" id="search_input">
				                               <input type="button" value="搜寻" id="search_btn">
			                               </span>
		                               </form>
		                               </td> 
		                              </tr>
		                              <tr>
		                                <td>
		                                  <table id="result" width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped">
		                                    <tbody>
		                                    <tr>
		                                      <td></td>
		                                      <td width="15%" class="tableContentHead">開獎期數</td>
		                                      <td width="31%" class="tableContentHead">開獎時間</td>
		                                      <td width="20%" class="tableContentHead">金多寶名稱</td>
		                                      <td width="35%" class="tableContentHead">開獎結果</td>
		                                    </tr>
		                                    <foreach name="list" item="v">
		                                    <tr style="" id="list1">
		                                      <td></td>
		                                      <td class="tableResult2"><a title="開獎結果及派彩">{$v.issue}&nbsp;</a></td>
		                                      <td class="tableResult2">{$v.lotterytime}</td>
		                                      <td class="tableResult2">&nbsp;</td>
		                                      <td align="left" class="tableResult2">
		                                        <table border="0" cellspacing="0" cellpadding="0">
		                                          <tbody>
		                                          <tr>
		                                          <td align="center" style="padding:0px 3px 0px 3px;"><img src="__PUBLIC__/assets/img/no_{$v.hm1}_s.gif" width="25" height="25"></td>
		                                          <td align="center" style="padding:0px 3px 0px 3px;"><img src="__PUBLIC__/assets/img/no_{$v.hm2}_s.gif" width="25" height="25"></td>
		                                          <td align="center" style="padding:0px 3px 0px 3px;"><img src="__PUBLIC__/assets/img/no_{$v.hm3}_s.gif" width="25" height="25"></td>
		                                          <td align="center" style="padding:0px 3px 0px 3px;"><img src="__PUBLIC__/assets/img/no_{$v.hm4}_s.gif" width="25" height="25"></td>
		                                          <td align="center" style="padding:0px 3px 0px 3px;"><img src="__PUBLIC__/assets/img/no_{$v.hm5}_s.gif" width="25" height="25"></td>
		                                          <td align="center" style="padding:0px 3px 0px 3px;"><img src="__PUBLIC__/assets/img/no_{$v.hm6}_s.gif" width="25" height="25"></td>
		                                          <td align="center" style="padding:5px 5px 5px 5px;"><img src="__PUBLIC__/assets/img/icon_special_no.gif" width="6" height="6"></td>
		                                          <td align="center" style="padding:0px 1px 0px 3px;"><img src="__PUBLIC__/assets/img/no_{$v.hm7}_s.gif" width="25" height="25"></td>
		                                          </tr>
		                                          </tbody>
		                                        </table>
		                                      </td>
		                                    </tr>
		                                    </foreach>
		                                    <tr>
		                                       <td colspan="10">
		                                          <div class="yahoo"> 
		                                            {$page}
		                                          </div>
		                                        </td> 
		                                    </tr>
		                                  </tbody>
		                                  </table>
		                                </td>
		                              </tr>
		                              <tr>
		                                <td colspan="4" class="whiteBar">
		                                  <table id="_ctl0_ContentPlaceHolder1_resultsMarkSix_markSixResultPagingFooterTable" width="100%" border="0" cellspacing="0" cellpadding="0">
		                                  </table>
		                                </td>
		                              </tr>
		                              </tbody>
		                            </table>
		                          </td>
		                        </tr>
		                        <tr>
		                          <td>
		                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
		                              <tbody><tr>
		                                <td bgcolor="#F8F8F8" style="padding:12px 7px 12px 7px;" class="content">若獲中之獎金為每十元一注超過五百萬元，所有中獎彩票持票人士或經由電話投注服務的中獎人士，包括使用智財咭、1886電話投注自動服務系統等，必須於指定時間致電本會1817登記。﹝使用互動投注服務途徑除外﹞<br><br>互動投注服務包括網上投注服務「投注區」、流動投注服務、Racing Touch流動應用程式及電訊運財寶。</td>
		                              </tr>
		                            </tbody></table>
		                          </td>
		                        </tr>
		                        </tbody>
		                      </table> 
		                    </td>
		                  </tr>
		                </tbody>
		              </table>
		             </div>
		            </td>
		           </tr>
		           <tr style="background: #fff;"><td><br><br></td>
		           </tr>
		          </tbody>
		         </table>
		        </td>
		     </tr>
		     <tr>
		      <td>
		        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="    margin: 3px 0px;">
                <tbody>
                <tr valign="top">
                  <td bgcolor="#ffffff" style="padding:10px 10px 10px 10px;" align="left">
                  <img src="__PUBLIC__/assets/img/rgp_text_710_chi.gif" usemap="#Map" border="0" width="710" height="103">
                  <map id="Map" name="Map">
                    <area shape="rect" coords="640,2,708,43" href="http://corporate.hkjc.com/corporate/rgp/chinese/index.aspx" target="_blank">
                  </map>
                  
                  </td>
                </tr>
                <tr valign="top" style="background: #fff;">
                  <td style="padding:9px 2px 0px 2px;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                      <tr>
                        <td class="footer"><a href="https://ssl.hkjc.com/infomenu/ch/contact/feedback.asp" target="_blank" class="footer">聯絡我們</a>│<a href="http://www.hkjc.com/chinese/sitemap.htm" target="_blank" class="footer">網頁指南</a>│<a href="http://www.hkjc.com/chinese/betting/betting_rule_ch.htm" target="_blank" class="footer">規例</a>│<a href="http://www.hkjc.com/chinese/betting/rgpolicy_generic.htm" target="_blank" class="footer">提倡有節制博彩</a>│<a href="http://www.hkjc.com/chinese/privacy.htm" target="_blank" class="footer">私隱條款</a>│<a href="http://special.hkjc.com/root/info/ch/disclaimer.asp" target="_blank" class="footer">免責聲明</a></td>
                        <td align="right" class="footer" id="copyright"><a class="footer">版權所有 不得轉載</a> ? 2006-2017 香港馬會獎券有限公司</td>
                		  </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                </tbody>
              </table>
		       
		        <script>
		          $(function() {
		            show(10);
		          })

		          function show(num){
		            for (var i = 1; i <= num; i++) {
		              $('#list'+i).show();
		            }
		          }
		        </script>
		      </td>
		     </tr>
		    </tbody>
		   </table>
		  </td>
		 </tr>
		</tbody>
	</table>
</section> 
	<!-- <table>
		<foreach name="list" item="v">
		<tr>
			<td>{$v.issue}</td>
			<td>{$v.time}</td>
			<td>{$v.num}</td>
			<td>{$v.tnumurl}</td>
			<td>{$v.tanimalurl}</td>
		</tr>
		</foreach>
		<tr>
			<td colspan="5">{$page}</td>
		</tr>
	</table> -->
</body>
</html>